/* Reset des styles par défaut du navigateur */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Style de fond pour le corps de la page */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Style de l'en-tête */
h1 {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style pour le contenu principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style pour les paragraphes */
p {
  line-height: 1.4;
}

/* Style pour les liens */
a {
  color: #007bff;
  text-decoration: none;
}

/* Style pour les liens au survol */
a:hover {
  text-decoration: underline;
}
